.movies-container {
  display: flex;
}

.movies-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;
  border-right: 2px solid #e5ebee;
}

.default-title {
  text-align: center;
  color: #294766;
}

.default-movie-details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 30px;
  font-size: 16px;
}

.movie-details {
  width: 50%;
  text-align: left;
  padding: 0 30px;
}

.details-title {
  color: #244261;
  font-weight: 700;
  font-size: 25px;
}

.details-text {
  color: #728293;
  font-size: 16px;
}

@media (max-width: 576px) { 
  .movie-details {
    padding: 0 10px;
  }
  
  .details-title {
    font-size: 16px;
  }
  
  .details-text {
    font-size: 13px;
  }
  
  .default-movie-details {
    font-size: 13px;
    display: block;
  }
}