.movie {
  display: flex;
  padding: 5px 20px;
  border-bottom: 1px solid #e5ebee;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.movie:last-child {
  border-bottom: none;
}

.episode {
  color: #8b99a7;
  margin-right: 20px;
}

.episode span {
  margin-left: 3px;
}

.title {
  color: #5d7183;
}

.date {
  color: #728293;
  margin-left: auto;
}

@media (max-width: 992px) { 
  .movie {
    display: block;
  }

  .episode {
    margin-right: 0;
  }
}

@media (max-width: 576px) { 
  .movie {
    font-size: 13px;
  }
}